@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&family=Urbanist:ital,wght@0,500;1,500&display=swap");
/* Скидаєм за замовчуванням налаштування */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  background-color: #14110e;
  font:
    500 16px/28px 'Urbanist',
    Arial,
    Helvetica,
    sans-serif;
}
/* посилання хай наслідує свого батька */
a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
ul li,
ol li {
  list-style-type: none;
}
/* щоб зображення не вилазило за межі батька */
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    color: inherit;
    font: inherit;
    transition: .4s;
    cursor: pointer;
    /* transparent означає що кнопка немає власного фону */
    background-color: transparent;
}
.btn-primary {
    font:
    700 18px/28px 'Inter',Arial,Helvetica,sans-serif;
    background-color: #C99E71;
    padding: 20px 36px;
    text-transform: uppercase;
    text-align: center;
}
.btn-primary:hover{
    background-color: #bd864c;
}
.container {
    max-width: 1340px;
    margin: 0 auto;
       padding: 0 75px;
}
.container-header {
     padding: 0 10px;
  
}
.section-main {
    padding-bottom: 140px;
}
.section-title {
    color: #C99E71;
    text-align: center;
    margin-bottom: 12px;
    font: 600 18px/22px  'Urbanist',Arial,Helvetica,sans-serif;
}
.section-subtitle {
    font:  48px/62px 'Righteous',cursive;
    text-align: center;
    margin-bottom: 56px;
}
.section__text {
    opacity: 0.8;
    text-transform: capitalize;
}
/* Header */
#header-section {
    padding: 32px 0;
    background-color: #1C1814;
}
.header,
.nav-main,
.nav-main__list,
.header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-main {
    flex-grow: 1;
}
.nav-main__list {
    font:
    400 18px 'Inter',
    Arial,
    Helvetica,
    sans-serif;
    gap: 48px;
}
.nav-main__link_selected {
    color: #C99E71;
    font-weight: 700;
    /* Елемент не сигналізує про клікабельність */
    cursor: default;
}
.nav-main__link:hover,
.header-action__search:hover,
.header-action__search__cart:hover {
     color: #C99E71;
}
.header__logo {
    width: 72px;
    height: 60px;
}
.header-action {
gap: 50px;
margin-left: 48px;
}
/* 1 варіант */
/* .header-action .header-action__search,
.header-action  .header-action__search__cart {
    font-size: 30px;
} */
/* 2 варіант */
.header-action__search,
.header-action__search__cart {
     font-size: 30px;
}
/* section 1 */
#banner-section {
    background: url(./banner.jpg) 50% 0%/cover no-repeat;
}
.banner {
    display: flex;
    justify-content: space-between;
    padding: 147px 0 158px;
}
.banner-info {
    max-width: 530px;
}
.banner-header {
font: 500 72px/94px 'Righteous',cursive;
}
.banner-text {
    margin: 32px 0 64px;
    font-size: 20px;
    line-height: 36px;
    opacity:0.8;
    text-transform: capitalize;
}
.banner_btn {
    padding: 24px 40px;
}
.banner-video__btn {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 120px;
    align-self: flex-end;
     text-transform: uppercase;
     font: 400 16px 'Inter',Arial,Helvetica,sans-serif;
}
.banner-video__btn:hover {
    color:#C99E71;
}
.banner-video__btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url(./play.svg) 50%/14px 18px no-repeat;
 transform: translateX(-50%);
 
}
/* Features */
.features {
    display: flex;
    justify-content: space-between;
    gap: 36px;
padding-top: 140px;
}
.features__item {
    font: 24px/30px 'Righteous',cursive;
}
.features__item_dark {
    color: #C99E71;
    margin-right: 12px;
}
.features__img {
    display: block;
    margin-top: 24px;
}
/* History */
.history-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(1,2fr);
    align-items: stretch;
    gap: 32px;
}
.history-wrap__img:first-child {
grid-column: 1/2;
grid-row: 1/2;
}
.history-wrap__img:nth-child(2) {
grid-column: 2/3;
grid-row: 1/3;
}
.history-wrap__img:last-child {
   grid-column: 1/2;
grid-row: 2/3; 
}
.history {
    display: flex;
    flex-direction: column;
 justify-content: center;
     grid-column: 3/4;
grid-row: 1/3; 
padding: 0 56px;
background-color: #1C1814;
}
.history__title,
.history__subtitle {
    text-align: left;

}
.history__subtitle {
    margin-bottom: 36px;
}
/* Popular */
.popular-wrap {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin-bottom: 56px;
}
.popular {
    background-color: #121315;
    padding: 48px 48px 40px 48px;
    text-align: center;
    text-transform: uppercase;
}
.popular__img {
    display: block;
    margin-bottom: 36px;
}
.rating {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #C99E71;
}
.rating__title {
    font-weight: 500;
}
.rating__list {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}
.rating__item {
    font-size: 16px;
    line-height: 26px;
}
.popular__title {
    margin-bottom: 12px 0 20px;
    font:  24px/30px 'Righteous',cursive;
}
.popular__price {
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.popular__price_dark {
    color: #C99E71;
    font: 400 18px  'Inter',Arial,Helvetica,sans-serif;
}
.popular__btn {
    display: none;
    justify-content: center;
    align-items: center;
    text-transform: none;
    gap: 15px;
    margin: 38px auto 0;
    padding: 13px 0;
    width: 170px;
     font: 600 18px/22px  'Urbanist',Arial,Helvetica,sans-serif;
}
.popular:hover .rating,
.popular:hover .popular__price {
    display: none;
}
.popular:hover .popular__btn {
display: flex;
}
.popular__link {
    display: block;
    width: 252px;
    margin: 0 auto;
}
/* Discover */
.discover-wrap {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 85px 80px;
    background-color: #1C1814;
}
.discover-img {
    display: block;
    margin: 0 auto;
    max-height: 359px;
}
.discover {
    max-width: 535px;
}
.discover__title {
    margin-bottom: 36px;
    text-align: left;
}
.discover__link {
    display: block;
    margin-top: 36px;
    width: 215px;
}
/* menu */
.menu-wrap {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
row-gap: 36px;
}
.menu {
    display: flex;
   padding: 24px;
    align-items: center;
    width: 48%;
    gap: 20px;
    border: 1px solid #32323D;
}
.menu__img {
    width: 72px;
    height: 72px;

}
.menu__title {
    font:  24px/30px 'Righteous',cursive;
}
.menu__price {
    display: block;
    margin-left: auto;
    font-size: 18px;
    color: #C99E71;
}

/* Testimonial */
.testimonial-wrap {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 36px;
}
.testimonial {
    padding: 40px;
    background-color: #1C1814;
}
.testimonial-data,
.testimonial-info {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.testimonial__img {
    display: block;
    width: 129px;
    height: 149px;
}
.testimonial-info {
    margin-top: 28px;
}
.testimonial__name {
    display: block;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
}
.testimonial__position {
    font-size: 14px;
    line-height: 25px;
    opacity: 0.5;
}
.testimonial__list{
    gap: 4px;
}
.testimonial__list .rating__item {
align-self: flex-end;
font-size: 20px;
color: #FAA61A;
}